<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.muhammad_irvan.evv.admin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainPenyelenggaraActivity" />
        <activity android:name=".MasukActivity" />
        <activity android:name=".PemilihanPenyelenggara" />
        <activity
            android:name=".UbahPemilihan"
            android:label="Mengubah Pemilihan Pemilihan" />
        <activity
            android:name=".UbahKandidat"
            android:label="Mengubah Kandidat" />
        <activity
            android:name=".TambahPemilihanPenyelenggara"
            android:label="Tambah Pemilihan" />
        <activity
            android:name=".TambahKandidat"
            android:label="Tambah Kandidat" />
        <activity android:name=".PesertaActivity" />
        <activity android:name=".DaftarPenyelenggara" />
        <activity android:name=".MengolaPanitia" />
        <activity android:name=".TambahPanitia" />
        <activity android:name=".UbahPanitia"></activity>
    </application>

</manifest>